/*
wood brown: A89F68;
army green: 41521F;
*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fff;
	text-shadow: 1px 2px #333;
}
/*Sección 01*/
.bienvenida {
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}

.bienvenida h1 {
    padding-top: 3em;
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.color01 {
	background-color: #41521f;
	color: #fff;
}
/*Sección 02*/
.information {
	margin: 120px 0;
}
.titular {
	color: #A89F68;
}
.titular02 {
	color: #999;
}
.titular03 {
	color: #41521f;
}
.titular04 {
	font-weight: bolder;
	padding-bottom: 2em;
}
/*Sección 03*/
.easyhelp {
	background-color: #A89F68;
	color: #fff;
	padding: 100px 0;
}
/*Sección 04*/
.helpkoalas {
	background-image: url(../img/all.jpg);
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	text-shadow: 1px 2px #333;
	padding: 50px 0;
}
/*Sección 05*/
.canhelp {
	padding: 75px 0;
}
.icono {
	color: #A89F68;
	padding-bottom: 0.5em;
}
/*Sección 06*/
.wecanhelp {
	padding: 75px 0;
	background-color: #A89F68;
}
.signo {
	color: #fff;
	font-size: 1em;
	/*prueba y error nose porque es 3*/
	vertical-align: 3em;
}
.precio {
	color: #fff;
	font-size: 5em;
}
.moneda {
	color: #fff;
	font-size: 1em;
}
/* collapse */
.well {
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
    background-color: #41521f;
    color: #fff;
    border: none;
}
/*Footer*/
footer {
	padding: 75px 0;
	background-color: #41521f;
	color: #fff;
}
footer a {
	display: block;
	color: #A89F68;
}
.footer {
	padding-top: 2.5em;
}